<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Book/css/style.css' %}">
</head>
<body>
    <a href="Author/templates/Author/index.html">Author</a>
    <a href="Book/templates/Book/index.html">Books</a>
    <a href="Main/templates/Main/index.html">Main</a>
    <h1><b>This is books page!</b></h1>
    <img src=""https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.work.ua%2Farticle%2F1161b.jpg&tbnid=v_d_DwiK6DYhRM&vet=12ahUKEwjov9-Ur8OBAxWN77sIHZVtDNEQMygBegQIARB2..i&imgrefurl=https%3A%2F%2Fwww.work.ua%2Farticles%2Freading-with-work-ua%2F1161%2F&docid=F9zeBbox5VaXvM&w=1200&h=675&q=%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8&ved=2ahUKEwjov9-Ur8OBAxWN77sIHZVtDNEQMygBegQIARB2>
    <p>all the books are here</p>
    <a href="Main/templates/Main/index.html">book info page</a>
</body>
</html>